* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  --base-color: #fff;
  --dark-color: #2a3443;
  --primary-color: #833996;
  --lumo-primary-color: var(--primary-color);
  --iron-icon-fill-color: var(--primary-color);
  --primary-shade-color: #876796;
  --shade-color: #5e6673;
  --success-color: #f0f8f1;
  --warning-color: #fbeeec;
  --light-background: #f4f5f7;
  --spacing: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 18px;
  line-height: 1.5rem;
}
